@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html,body {
    	font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #34495e;
}
nav {
   font-size: 2em;
    color: #fff;
    text-align: center;
}
.texto_black {
    color: #000;
}
.vcenter {
     display: flex;
     align-items: center;
    font-weight: bold;
}
nav a, .last_viewed a, .show_finished a { color: #fff !important; }

#nav_border {
    padding: 5px 0px;
    border-bottom: 1px solid #2c3e50;
    width: 60%;
    margin-left: 20%;
}
section {
    margin-top:10px;
}
.series_one {
    text-align: center;
    font-size: 1.1em;
    color: white;
}
.order_by {
    padding: 20px 0px;
    background-color: #3498db;
    border-bottom: 5px solid #2980b9;
}
.show_finished{
    padding-top: 20px;
    padding-bottom: 10px;
	background-color: #1abc9c;
	border-bottom: 5px solid #16a085;

}
.last_viewed {
	padding-top: 20px;
    padding-bottom: 7px;
	background-color: #e74c3c;
	border-bottom: 5px solid #c0392b;
}
#lista_nav {
    color: black;
    font-size: 16px;
}
#lista_nav li {
    width: 120%;
}
.dropdown-menu{

}
.lista_serie {
    padding: 60% 0px;
    margin-right: 50%;
}
.cap_plot {
    max-width: calc(100% - 29px);
    position: absolute;
    padding: 20px 0px;
    top: 150px;
    left: 30px;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
.info_rojo {
    color: #e74c3c;
}
.actualizado_msg_seen {
    border-radius: 40px;
    position: absolute;
    padding: 10px 100px;
    top: 50px;
    left: 30px;
    color: #3498db;
    background: rgba(0, 0, 0, 0.8);
}
.actualizado_msg_unseen {
    border-radius: 40px;
    position: absolute;
    padding: 10px 100px;
    top: 50px;
    left: 30px;
    color: #f39c12;
    background: rgba(0, 0, 0, 0.8);
}
